<div class="row table-block">
  <h1 class="title">Категорії</h1>

  <div class="col l12">
    <table id="dataTable" >
      <thead>
        <tr>
          <th>ID</th>
          <th>ID Поста</th>
          <th>Автор</th>
          <th>Комент</th>
          <th>Видалити</th>
        </tr>
      </thead>
      <tbody>
    
      <% @data.each do |comment| %>
      <tr>
      <td><%= comment['comment_id'] %> </td>
      <td> <a href="/posts/read/<%= comment['post_id'] %>"><%= comment['post_id'] %></a></td>
      <td><%= comment['author'] %></td>
        <td><%= comment['text'].truncate(50) %></td>

        <td>
        <%= form_tag("/admin/comments/#{comment['comment_id']}",{:method => :delete}) do %>

          <button class="waves-effect waves-light btn-small red" type="submit">
            Видалити
          </button>
          <% end %>
        </td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>