<div class="header-half">
<div class="h-100 header-text valign-wrapper header-wrapper">
  <div class="row">
    <div class="col s12">
      <a href="#!" class="breadcrumb">Головна</a>
      <a href="#!" class="breadcrumb">Форум</a>
    </div>
  </div>
</div>
</div>
<section class="container">
<div class="row">
<div class="input-field col l4 s12">
    <select onchange="location = this.value;">
      <option value="" disabled selected>Обрати сортування</option>
      <option value="<%= forum_path(order_by: :created_at, dir: :desc) %>">Новіші</option>
      <option value="<%= forum_path(order_by: :created_at, dir: :asc) %>">Старіші</option>

    </select>
    <label>Сортувати за</label>
  </div>
  <div class="col l9 s12">
    <div class="sec card-bg">
      <div class="sec-content">
      <% @data.each do |topic| %>
        <div class="category">
        
          <div class="category-icon">
            <span class="icon"
              ><i class="tiny material-icons">mode_comment</i></span
            >
          </div>
          <div class="category-info">
            <div class="category-detail">
              <a href="/forum/read/<%= topic['id'] %>"><%= topic['title'] %></a>
              <div class="category-desc"><%= topic['description'].truncate(110) %></div>
            </div>
            <div class="category-stat">
            <% if topic['category'] %>

              <div><%= link_to topic['category'], forum_path(category: topic['category_id']) %></div>
              <% end %>
            </div>
            <div class="category-meta">
  
              <div>by <span class="author"><%= topic['author'] %></span></div>
              <div><%= topic['created_at'].to_time.to_formatted_s(:short)   %></div>
            </div>
          </div>
        </div>
        <% end %>
    
          <ul class="pagination">
            <% if  @page >= 1 %>
              <li class="waves-effect">
                <%= link_to forum_path(params.permit(:dir, :order_by).merge(page: @page - 1)) do %>
                  <i class="material-icons">chevron_left</i>
                <% end %>
              </li>
            <% end %>
          
            <% for i in 0..@pages_count   %>
              <li class="waves-effect <%= @page == i ? 'active' :''  %>">
                <%= link_to i + 1, forum_path(params.permit(:dir, :order_by).merge(page: i)) %>
              </li>
            <% end %>

            <% if @pages_count  > @page %>
              <li class="waves-effect">
                <%= link_to forum_path(params.permit(:dir, :order_by).merge(page: @page + 1)) do %>
                  <i class="material-icons">chevron_right</i>
                <% end %>
              </li>
            <% end %>
          </ul>
      </div>
    </div>
    
  </div>
  <div class="col l3 s12">
    <div class="card-panel card-bg">
      <h5 class="sidebar-title">Recent Topics</h5>
      <ul>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
      </ul>
    </div>
  </div>
</div>
</section>