<div class="header-half">
<div class="h-100 header-text valign-wrapper header-wrapper">
  <div class="row">
    <div class="col s12">
      <a href="/" class="breadcrumb">Головна</a>
      <a href="/forum" class="breadcrumb">Форум</a>
      <a href="#" class="breadcrumb"><%= @topic['title'] %></a>
    </div>
  </div>
</div>
</div>
<section class="container single-topic">
<div class="row">
  <div class="col l9 s12">
    <div class="row">
      <div class="col l1">
        <div class="author"><%= @topic['author'] %></div>
      </div>
      <div class="col l11">
        <div class="topic card-bg">
          <h5 class="topic-header"><%= @topic['title'] %> </h5>
          <p>
          <%= @topic['description'] %>
          </p>
          <div class="topic-footer">
            <div><%= @topic['created_at'].to_time.to_formatted_s(:long)   %></div>
          </div>
        </div>
      </div>
    </div>
    <% @messages.each do |msg| %>
    <div class="row">
      <div class="col l1">
        <div class="author"><%= msg['author']%></div>
      </div>
      <div class="col l11">
        <div class="topic card-bg">
          <p>
          <%= msg['message']%>
          </p>
          <div class="topic-footer">
            <div><%= msg['created_at'].to_time.to_formatted_s(:long)   %></div>
          </div>
        </div>
      </div>
    </div>
    <% end %>
    <div class="comment-form col l9 s12">
      <h5 class="form-title">
        Надіслати повідомлення
      </h5>
      <% if logged_in? %>
      <%= form_tag do %>
        <div class="auth-error col s12">
          <% if flash[:error] && flash[:error].any? %>
            <% flash[:error].each do |error_message| %>
              <%= error_message  %> <br />
            <% end %>
          <% end %>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea
              id="message"
              class="materialize-textarea has-character-counter"
              data-length="500"
              name="message"
              required
            ></textarea>
            <label for="textarea1">Повідомлення</label>
          </div>
        </div>
        <button
          type="submit"
          class="waves-effect waves-light btn comment-form-btn"
        >
          Надіслати
        </button>
        <% end %>
        <% end %>
    </div>
  </div>

  <div class="col l3 s12">
    <div class="card-panel card-bg">
      <h5 class="sidebar-title">Recent Topics</h5>
      <ul>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
      </ul>
    </div>
  </div>
</div>
</section>