<div class="header-half">
<div class="h-100 header-text valign-wrapper header-wrapper">
  <div class="row">
    <div class="col s12">
      <a href="#!" class="breadcrumb">Головна</a>
      <a href="#!" class="breadcrumb">Новини</a>
    </div>
  </div>
</div>
</div>
<section class="container single-topic">
      <div class="row posts-container">
        <div class="col l7 s12">
        <% @data.each do |post| %>
          <div class="posts card-bg">
            <a href="/posts/read/<%= post['id']%>"
              >
            <%= image_tag("/assets/posts/#{post['bg_img']}", class: "posts-img") %></a>
            <div class="posts-category">Piano | Musicians</div>
            <a href="/posts/read/<%= post['id']%>">
              <h2 class="posts-title">
              <%= post['theme'] %>
              </h2></a
            >
            <p class="posts-content">
            <%= strip_tags post['content'].truncate(50) %>
            </p>
            <div class="posts-footer">
              <div class="posts-comment">
                <span class="count"><%= post['comments'] %></span>
                <i class="tiny material-icons">mode_comment</i>
              </div>
              <div class="posts-date"><%= post['created_at'].to_time.to_formatted_s(:short) %></div>
            </div>
          </div>
        <% end %>
          
    
          <ul class="pagination">
            <li class="disabled">
              <a href="#!"><i class="material-icons">chevron_left</i></a>
            </li>
            <li class="active"><a href="#!">1</a></li>
            <li class="waves-effect"><a href="#!">2</a></li>
            <li class="waves-effect"><a href="#!">3</a></li>
            <li class="waves-effect"><a href="#!">4</a></li>
            <li class="waves-effect"><a href="#!">5</a></li>
            <li class="waves-effect">
              <a href="#!"><i class="material-icons">chevron_right</i></a>
            </li>
          </ul>
        </div>

        <div class="col l5 s12">
          <div class="card-panel card-bg">
            <h5 class="sidebar-title">Search</h5>
            <div class="row search-container">
              <form action="" class="col s12">
                <div class="input-field">
                  <input id="q" type="text" />
                  <label for="q">Search</label>
                </div>
                <button
                  type="submit"
                  class="waves-effect waves-light btn-small"
                >
                  Пошук
                </button>
              </form>
            </div>
          </div>
          <div class="card-panel card-bg">
            <h5 class="sidebar-title">Recent Topics</h5>
            <ul>
              <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
              <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
              <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
              <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
              <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
            </ul>
          </div>
        </div>
      </div>
    </section>