<div class="header-half">
<div class="h-100 header-text valign-wrapper header-wrapper"></div>
</div>
<section class="container single-topic">
<div class="row">
  <div class="col l9 s12">
    <div>
      <div class="post card-bg">
      <%= image_tag("/assets/posts/#{@post['bg_img']}", class: "post-bg") %>
        <div class="post-header">
        
          <h4 class="post-title">
            <%= @post['theme'] %>
         
          </h4>
          <div class="post-date"><%= @post['created_at'].to_time.to_formatted_s(:short) %></div>
        </div>
        <div class="post-content">
        <%= raw @post['content'] %>
        </div>
      </div>
    </div>
    <% if logged_in? %>
    <div class="comment-form">
      <h5 class="form-title">
        Залишити коментар
      </h5>
    
      <%= form_tag do %>
        <div class="auth-error col s12">
          <% if flash[:error] && flash[:error].any? %>
            <% flash[:error].each do |error_message| %>
              <%= error_message  %> <br />
            <% end %>
          <% end %>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <textarea
              id="message"
              class="materialize-textarea has-character-counter"
              data-length="500"
              name="text"
              required
            ></textarea>
            <label for="textarea1">Повідомлення</label>
          </div>
        </div>
        <button
          type="submit"
          class="waves-effect waves-light btn comment-form-btn"
        >
          Надіслати
        </button>
        <% end %>
      
    </div>
    <%  end %>
    <div class="comments">
      <h5 class="comments-title">
        Коментарі <span class="comments-count"><%= @comments.length %></span>
      </h5>
      <% @comments.each do |comment| %>
      <div class="comment card-bg">
        <div class="comment-header">
          <div class="comment-author"><%= comment['author'] %></div>
          <div class="comment-date"><%= comment['created_at'].to_time.strftime("%d %B %Y у %H:%M") %></div>
        </div>
        <p class="comment-content">
          <%= comment['text'] %>
        </p>
      </div>
      <% end  %>
  
    </div>
   
  </div>

  <div class="col l3 s12">
    <div class="card-panel card-bg">
      <h5 class="sidebar-title">Recent Topics</h5>
      <ul>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
        <li><a href="#" class="sidebar-link">Lorem, ipsum.</a></li>
      </ul>
    </div>
  </div>
</div>
</section>